<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('nav.html') %>
    <h1>장바구니</h1>

    <form id="purchaseForm">
      <section class="products">
        <% data.forEach((carts) => { %>
        <label class="product">
          <input
            type="checkbox"
            name="selectedItems"
            value="<%= carts.carts.id %>"
            data-type="<%= carts.carts.type %>"
          />
          <h2><%= carts.details.title %></h2>
          <p>저자: <%= carts.details.author %></p>
          <img
            src="/ex_photo/<%= carts.details.preview_image_uri %>"
            alt="<%= carts.details.title %> Preview"
          />
          <p>가격: <%= carts.details.price %>원</p>
          <p>남은 수량: <%= carts.details.remaining_quantity %></p>
        </label>
        <% }); %>
      </section>
      <button type="button" id="purchaseButton">선택한 상품 구매하기</button>
    </form>

    <footer></footer>
    <script src="/js/script.js" defer></script>
    <script>
      document
        .getElementById("purchaseButton")
        .addEventListener("click", function () {
          const selectedItems = Array.from(
            document.querySelectorAll('input[name="selectedItems"]:checked'),
          ).map((checkbox) => {
            return {
              id: checkbox.value,
              type: checkbox.dataset.type,
            };
          });

          fetch("/purchase", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ selectedItems }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => {
              console.log("Server response:", data);
              if (data.success) {
                alert(data.message);
              }
              const selectedCheckboxes = document.querySelectorAll(
                'input[name="selectedItems"]:checked',
              );
              selectedCheckboxes.forEach((checkbox) => {
                checkbox.closest(".product").remove();
              });
            })
            .catch((error) => {
              console.error("Error during fetch operation:", error);
            });
        });
    </script>
  </body>
  <%- include('bt_nav.html') %>
</html>
