<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <h1><%= product.title %> 상세 정보</h1>
    <img
      src="data:image/jpeg;base64,<%= product.detail_image %>"
      alt="<%= product.title %> Preview"
    />
    <p>저자: <%= product.author %></p>
    <p>상세정보: <%= product.summary %></p>
    <p>종류: <%= product.type %></p>
    <p>남은 수량: <%= product.remaining_quantity %></p>
    <p>가격: <%= product.price %>원</p>

    <button id="addBookMarkBtn">구매하기</button>

    <footer></footer>
    <script src="/js/script.js" defer></script>
    <script>
      const user = "<%= userName %>";
      const bookMarkBtn = document.getElementById("addBookMarkBtn");

      bookMarkBtn.addEventListener("click", addBookMark);

      function addBookMark() {
        if (user) {
          const productId = "<%= product.id %>";
          const currentDate = new Date();
          const year = currentDate.getFullYear();
          const month = String(currentDate.getMonth() + 1).padStart(2, "0");
          const day = String(currentDate.getDate()).padStart(2, "0");
          const registrationDate = `${year}-${month}-${day}`;
          const type = "<%= product.product_type %>";
          const xhr = new XMLHttpRequest();

          xhr.open("POST", "/bookmark", true);
          xhr.setRequestHeader("Content-Type", "application/json");

          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                alert("책을 장바구니에 추가하였습니다.");
              } else if (xhr.status === 400) {
                alert("이미 장바구니에 있는 상품입니다.");
              }
            }
          };

          xhr.send(JSON.stringify({ productId, registrationDate, type }));
        } else {
          alert("로그인이 필요합니다.");
          window.location.href = "/login";
        }
      }
    </script>
  </body>
</html>
