<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <section class="products">
      <!--   <div class="product">
        <img src="/ex_photo/product1.jpg" alt="Product 1 Preview" />
        <h3>상품 제목 1</h3>
        <p>가격: $19.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product2.jpg" alt="Product 2 Preview" />
        <h3>상품 제목 2</h3>
        <p>가격: $29.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product3.jpg" alt="Product 3 Preview" />
        <h3>상품 제목 3</h3>
        <p>가격: $39.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product4.jpg" alt="Product 4 Preview" />
        <h3>상품 제목 4</h3>
        <p>가격: $49.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product5.jpg" alt="Product 5 Preview" />
        <h3>상품 제목 5</h3>
        <p>가격: $59.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product6.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 6</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="/ex_photo/product7.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 7</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product8.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 8</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product9.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 9</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product10.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 10</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product11.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 11</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product12.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 12</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product13.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 13</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product14.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 14</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product15.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 15</h3>
        <p>가격: $69.99</p>
      </div>

      <div class="product">
        <img src="ex_photo/product16.jpg" alt="Product 6 Preview" />
        <h3>상품 제목 16</h3>
        <p>가격: $69.99</p>
      </div> -->

      <% for (let i = 0; i < data.length; i++) { %>
      <div class="product">
        <a href="/content/<%= data[i].id %>/<%= data[i].product_type %>">
          <img
            src="data:image/jpeg;base64,<%= data[i].preview_image %>"
            alt="<%= data[i].title %> Preview"
          />
          <h3><%= data[i].title %></h3>
          <p>가격: <%= data[i].price %>원</p>
        </a>
      </div>
      <% } %>
    </section>
    <footer></footer>
    <script src="/js/script.js" defer></script>
  </body>
</html>
