<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/css/mypage_style.css" />
  </head>
  <body>
    <%- include('nav.html') %>

    <section id="mypage-content">
      <div class="profile-form-container">
        <h2>프로필</h2>
        <!-- <h1><% console.log(user) %></h1> -->
        <!-- Edit Profile Form -->
        <form id="edit-profile-form">
          <label for="new-id"> ID:</label>
          <input
            type="text"
            id="new-id"
            name="new-id"
            value="<%= user.id %>"
            required
            readonly
          />

          <label for="new-password"> Password</label>
          <input
            type="password"
            id="new-password"
            name="new-password"
            required
          />

          <label for="new-name"> 이름:</label>
          <input
            type="text"
            id="new-name"
            name="new-name"
            value="<%= user.name %>"
            required
          />

          <label for="new-email"> 이메일:</label>
          <input
            type="email"
            id="new-email"
            name="new-email"
            value="<%= user.email %>"
            required
          />

          <label for="new-phone"> 전화번호:</label>
          <input
            type="tel"
            id="new-phone"
            name="new-phone"
            value="<%= user.phone_number %>"
            required
          />

          <label for="new-address"> 주소:</label>
          <input
            type="text"
            id="new-address"
            name="new-address"
            value="<%= user.address %>"
            required
          />
        </form>
      </div>
      <div class="order-history">
        <h2>주문 내역</h2>
        <ul>
          <% for(let i = 0; i < user.purchase_history.length; i++) { %>
          <li>
            상품 제목: <%= user.purchase_history[i].product_title %> | 구매
            날짜: <%=
            user.purchase_history[i].purchase_date.toLocaleDateString('en-US', {
            year: 'numeric', month: '2-digit', day: '2-digit' }) %> | 가격: <%=
            user.purchase_history[i].price ?
            `${user.purchase_history[i].price}원` : '가격 정보 없음' %>
          </li>
          <% } %>
        </ul>
      </div>

      <div class="account-settings">
        <h2>계정 설정</h2>

        <a href="#" class="edit-profile-button" onclick="showEditProfileForm()"
          >프로필 수정</a
        >

        <!-- Profile Form Container -->
        <div id="profile-form-container" style="display: none">
          <!-- Edit Profile Form -->
          <form id="edit-profile-form">
            <label for="new-username">새로운 사용자 이름:</label>
            <input type="text" id="new-username" name="new-username" required />

            <label for="new-email">새로운 이메일:</label>
            <input type="email" id="new-email" name="new-email" required />

            <!-- Edit Profile Button -->
            <button
              type="button"
              class="edit-profile-button"
              onclick="updateProfile()"
            >
              프로필 수정 완료
            </button>
          </form>
        </div>

        <a href="#" class="edit-password-button" onclick="logout()">로그아웃</a>

        <!-- Change Password Form Container -->
        <div id="password-form-container" style="display: none">
          <!-- Change Password Form -->
          <form id="change-password-form">
            <label for="current-password">현재 비밀번호:</label>
            <input
              type="password"
              id="current-password"
              name="current-password"
              required
            />

            <label for="new-password">새로운 비밀번호:</label>
            <input
              type="password"
              id="new-password"
              name="new-password"
              required
            />

            <label for="confirm-new-password">새로운 비밀번호 확인:</label>
            <input
              type="password"
              id="confirm-new-password"
              name="confirm-new-password"
              required
            />

            <button
              type="button"
              class="edit-password-button"
              onclick="changePassword()"
            >
              비밀번호 변경 완료
            </button>
          </form>
        </div>
      </div>
    </section>

    <%- include('bt_nav.html') %>
    <script src="/js/script.js" defer></script>
    <script>
      function logout() {
        fetch("/logout", {
          method: "POST",
          credentials: "include",
        })
          .then((response) => {
            if (response.ok) {
              alert("로그아웃되었습니다.");
              window.location.href = "/";
            } else {
              console.error("Logout failed");
            }
          })
          .catch((error) => {
            console.error("Error during logout:", error);
          });
      }
    </script>
  </body>
</html>
